/* src/index.css or App.css */
@font-face {
  font-family: 'MyFont';
  src: url('./assets/Viking.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body,span,p,h1,h2,h3,h4,h5,h6 {
  font-family: 'MyFont', sans-serif;
}
